{% block content %}

    <div class="container">
            {% if self_login %}  
                <div class="profile-content">
                    <div class="live-in">
                        <h2>Current Apartments</h2>
                        {% for s in live_in %}
                        <div class="info-container">
                                <div>Price : {{ s[0] }}  Type : {{ s[1] }}  Size : {{ s[2] }}   House Number : {{ s[3] }}   Building ID : {{ s[4] }}    Avaliability : {{ s[5] }}</div>
                                
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class = "edit-post">
                    <form action="#" method="post" id="form1">
                        <div>
                            <h3>Add Apartments</h3>
                            <label for="price">Price</label>
                            <input type="text" name="price" id="price" placeholder="Price">
                            <label for="size">Size</label>
                            <input type="text" name="size" id="size" placeholder="Size">
                            <label for="type">Type</label>
                            <input type="text" name="type" id="type" placeholder="Type">
                            <label for="hnumber">House Number</label>
                            <input type="text" name="hnumber" id="hnumber" placeholder="House Number">
                            <label for="avaliability">Avaliability</label>
                            <input type="text" name="avaliability" id="avaliability" placeholder="Avaliability">
                            <li><a href="{{ url_for('buildinglist')}}">Please Click Here To See All Buildings</a></li>
                            <label for="building">Building_id</label>
                            <input type="text" name="building_id" id="building_id" placeholder="building_id">

                        </div>
                                        
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            {% endif %}
    </div>
{% endblock %}