<!DOCTYPE html>
<html lang="en">
<head>
       
</head>

 
<body>
   <div class="header">
     <h1>58 Housing</h1>
     <p>An Online Web Rental Platform</p>
   </div>
    
   <div class="topnav">
       <ul>
          {% if session.get('user_id') %}
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            <!-- <li><a href="{{ url_for('notebook') }}">Notebook</a></li> -->
            <li><a href="{{ url_for('tenant') }}">I'm tenant</a></li>
            <li><a href="{{ url_for('landlord') }}">I'm landlord</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
          {% else %}
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
          {% endif %}
       </ul>
   </div>
   
    <h2>Welcome to 58 Housing, a magic website!</h2>>
   <!-- This may be use less  -->
   <section class="content">
       <header>
          {% block header %}{% endblock %}
       </header>
       {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
       {% endfor %}
       {% block content %}{% endblock %}
   </section> 

</body>
   <div class="footer">
    © 2019 Anran Li, Yingling Wang. Rights statement.
  </div>  
</html>